.flex {
  display: flex;
}

.flex-grow {
  flex-grow: 1;
}

.flex-justify-between {
  justify-content: space-between;
}

.flex-justify-end {
  justify-content: flex-end !important;
}

.flex-align-center {
  align-items: center;
}

.flex-align-end {
  align-self: flex-end !important;
}
