<header class="page-header">
  <nav class="container">
    <div class="flex">
      <div class="p-1">
        <a class="navbar-brand" href="/" aria-label="linksbek.nl">
          {% image "./src/images/logo-linksbek.gif", "logo linksbek.nl" %}
        </a>
      </div>
      {% set navPages = collections.all | eleventyNavigation %}
      <ul class="flex flex-column flex-row-md flex-align-self-center py-3">
        {% for entry in navPages %}
          <li class="py-1 px-3">
            <a href="{{ entry.url | url }}">{{ entry.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </nav>
</header>
