.image-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 1%;
  justify-content: center;
}

.image-gallery picture {
  flex-basis: 32%;
}

.image-gallery img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  object-fit: cover;
  border-radius: 5px;
}
