---
layout: layouts/base.njk
---

<h1>{{ title }}</h1>
<p><time datetime="{{ page.date | isoDate }}" style="font-style: italic; color: #888;">{{ page.date | readableDate }}</time></p>

{{ content | safe }}

<hr>

<p>Copyright Peter Bonder.</p>
<p>Kijk ook op <a class="text-muted" href="http://www.twentesport.com/">www.twentesport.com</a>.</p>
