{{ define "main" }}
<main class="app-content container">
    <header class="homepage-header">
        <h1>{{.Title}}</h1>
        {{ with .Params.subtitle }}
        <span class="subtitle">{{.}}</span>
        {{ end }}
    </header>
    <div class="homepage-content">
        <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
        {{.Content}}
    </div>
    <ul class="list list-unstyled">
        <!-- Ranges through content/posts/*.md -->
        {{ range (.Paginator 10).Pages.ByDate.Reverse }}
        <li class="mb-3">
            <h2 class="article__heading">
                <a href="{{.Permalink}}">{{.Title}}</a>
            </h2>
        </li>
        {{ end }}
    </ul>
    {{ template "_internal/pagination.html" . }}
</main>
{{ end }}
