{{ define "main" }}
<main class="app-content container">
    <header class="homepage-header">
        <h1>{{.Title}}</h1>
        {{ with .Params.subtitle }}
        <span class="subtitle">{{.}}</span>
        {{ end }}
    </header>
    <div class="homepage-content">
        <p>
            Een overzicht van alle {{ len (where .Site.RegularPages "Section" "==" "posts") }} columns die sinds januari 2002
            geplaatst zijn.
        </p>
        <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
        {{.Content}}
    </div>
    <ul class="list list-unstyled">
        <!-- Ranges through content/posts/*.md -->
        {{ range (.Paginator 10).Pages.ByDate.Reverse }}
        <li class="mb-3">
            <h2 class="article__heading">
                <a href="{{.Permalink}}">{{.Title}}</a>
                <time datetime="{{.Date.Format "2006-01-02T15:04:05Z07:00"}}" class="text-muted small">{{.Date.Format "2006-01-02"}}</time>
            </h2>
            <div>
                {{.Summary | markdownify}}
                <a href="{{.Permalink}}" aria-label="Lees meer over {{.Title}}">[Lees meer&hellip;]</a>
            </div>
        </li>
        {{ end }}
    </ul>
    {{ template "_internal/pagination.html" . }}
</main>
{{ end }}
