{{ define "title" }}
{{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}
{{ define "main" }}
<main class="app-content container">
    <article id="content">
        <header>
            <h1 id="title">{{ .Title }}</h1>
        </header>
        {{ .Content }}
        <p>({{ .Date.Format "January 2, 2006" }})</p>
        <p>Copyright Peter Bonder.</p>
        <p>Met dank aan <a class="text-muted" href="https://360sportsintelligence.com/">360SportsIntelligence</a>.</p>
        <footer>
            {{ with .Params.topics }}
            <ul id="topics">
                {{ range . }}
                <li><a href="{{ "topics" | absURL}}{{ . | urlize }}">{{ . }}</a> </li>
                {{ end }}
            </ul>
            {{ end }}
            {{ with .Params.tags }}
            <ul id="tags">
                {{ range . }}
                <li> <a href="{{ "tags" | absURL }}{{ . | urlize }}">{{ . }}</a> </li>
                {{ end }}
            </ul>
            {{ end }}
            <ul class="nav justify-content-between my-4">
                {{ with .PrevInSection }}
                <li class="nav-item">
                    <a class="nav-link" href="{{.Permalink}}">&larr; {{.Title}}</a>
                </li>
                {{ end }}
                {{ with .NextInSection }}
                <li class="nav-item">
                    <a class="nav-link" href="{{.Permalink}}">{{.Title}} &rarr;</a>
                </li>
                {{ end }}
            </ul>
            {{ template "_internal/disqus.html" . }}
        </footer>
    </article>
</main>
{{ end }}
