<footer class="app-footer bg-dark text-light p-5">
    <div class="container">
        <div class="d-flex flex-column flex-md-row justify-content-between my-3">
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link text-muted" href="{{ .URL }}">{{ .Name }}</a>
                </li>
                {{ if .HasChildren }}
                {{ range .Children }}
                <li class="nav-item">
                    <a class="nav-link text-muted" href="{{ .URL }}">{{ .Name }}</a>
                </li>
                {{ end }}
                {{ end }}
            </ul>
            {{ end }}
        </div>
        <ul class="nav justify-content-between">
            <li class="nav-item">
                <div class="nav-link text-muted">
                    Copyright © 2002-{{ now.Year }} Peter Bonder
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link text-muted" href="https://xtreamwayz.com/">Maintained by @xtreamwayz</a>
            </li>
        </ul>
    </div>
</footer>
