{{ define "main" }}
<main class="app-content container">
    <div class="row">
        <div class="col-sm-8">
            <header class="homepage-header">
                <h1>{{.Title}}</h1>
                {{ with .Params.subtitle }}
                <span class="subtitle">{{.}}</span>
                {{ end }}
            </header>
            <div class="homepage-content">
                <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
                {{.Content}}
            </div>
            <ul class="list list-unstyled">
                <!-- Ranges through content/posts/*.md -->
                {{ range first 3 (where .Site.Pages "Type" "posts").ByDate.Reverse }}
                <li class="mb-3">
                    <h2 class="article__heading">
                        <a href="{{.Permalink}}">{{.Title}}</a>
                    </h2>
                    <div>
                        {{.Summary | markdownify}}
                        <a href="{{.Permalink}}" aria-label="Lees meer over {{.Title}}">[Lees meer&hellip;]</a>
                    </div>
                </li>
                {{ end }}
            </ul>
        </div>
        <aside class="col-sm-4">
            <a href="https://360sportsintelligence.com/" class="card bg-dark text-light shadow-sm mb-3">
                <div class="card-header text-uppercase">
                    <h2 class="h6">360SportsIntelligence</h2>
                </div>
                <div class="card-body">
                    <img src="{{ .Site.BaseURL }}/img/logo360-white.png" class="img-fluid" alt="360SportsIntelligence" />
                </div>
            </a>
            <h2>Kent u deze al?</h2>
            <ul class="list list-unstyled">
                {{ $filteredPosts := where .Site.Pages "Type" "posts" | after 3 }}
                {{ $relatedPosts := shuffle $filteredPosts | first 1 }}
                {{ range $relatedPosts }}
                <li class="mb-3">
                    <h3 class="article__heading">
                        <a href="{{.Permalink}}">{{.Title}}</a>
                    </h3>
                    <time datetime="{{.Date.Format "2006-01-02T15:04:05Z07:00"}}" class="text-muted small">Gepubliceerd in {{.Date.Format "2006"}}</time>
                    <div>
                        {{.Summary | markdownify}}
                        <a href="{{.Permalink}}" aria-label="Lees meer over {{.Title}}">[Lees meer&hellip;]</a>
                    </div>
                </li>
                {{ end }}
            </ul>
        </aside>
    </div>
</main>
{{ end }}
