---
layout: "layouts/base.njk"
title: "Archief"
permalink: "archief/{% if pagination.pageNumber > 0 %}{{ posts }}/{% endif %}"
eleventyNavigation:
  key: main
  title: "Archief"
  order: 40
pagination:
  data: collections.postsByYear
  size: 1
  alias: posts
  reverse: true
---

<div class="flex flex-column flex-row-md">
  <div class="flex-grow pr-3 mr-3">
    <h1>Archief {{ posts }}</h1>
    <ul class="list-unstyled">
      {% for post in collections.postsByYear[posts] %}
        <li>
          <a href="{{ post.url }}">
            <h2>{{ post.data.title }}</h2>
          </a>
          <p>
            <time class="text-bold" datetime="{{ post.date | isoDate }}">({{ post.date | readableDate }})</time>
            {{ post.templateContent | summary }}
          </p>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div style="min-width:256px;" class="text-right">
    <h1>Jaar archief</h1>
    <ol class="list-unstyled">
      {% for pageEntry in pagination.pages %}
      <li class="flex flex-align-end flex-justify-end">
        <a class="pr-3" href="{{ pagination.hrefs[ loop.index0 ] }}"{% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %}>
          <h3>{{ pageEntry }}</h3>
        </a>
        <div class="text-italic">
          {{ collections.postsByYear[pageEntry] | length }} columns
        </div>
      </li>
      {% endfor %}
    </ol>
  </div>
</div>
