---
layout: layouts/home.njk
title: "Welkom op de website van Linksbek Peter Bonder"
summary: "Meer dan 250 columns in de Twentsche Courant Tubantia (september 1996 tot december 2001), vanaf zijn veertiende in de redactie van de EHV-post en sinds november 2002 wekelijks met een Kopstoot in de Roskam, onafhankelijk weekblad voor Twente. Wie schrijft die blijft, sinds januari 2002 ook online."
---

<h1>Welkom op de website van Linksbek Peter Bonder</h1>

<p>
Meer dan 250 columns in de Twentsche Courant Tubantia (september 1996 tot december 2001), vanaf zijn veertiende in de
redactie van de EHV-post en sinds november 2002 wekelijks met een Kopstoot in de Roskam, onafhankelijk weekblad voor
Twente. Wie schrijft die blijft, sinds 31 januari 2002 ook online.
</p>

<ul>
{% for post in collections.posts | limit(5) %}
  <li>
    <a href="{{ post.url }}">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
    <time datetime="{{ post.date | isoDate }}">{{ post.date | readableDate }}</time>
    <p>{{ post.templateContent | summary }}</p>
  </li>
{% endfor %}
</ul>

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
