---
layout: layouts/home.njk
title: "Welkom op de website van Linksbek Peter Bonder"
date: "2002-01-01"
---

<h1>{{ title }}</h1>

<p>{{ meta.desciption }}</p>

<div class="flex flex-column flex-row-md">
  <div class="flex-grow pr-3 mr-3">
    <ul>
      {% for post in collections.posts | limit(5) %}
        <li>
          <a href="{{ post.url }}">
            <h2>{{ post.data.title }}</h2>
          </a>
          <time datetime="{{ post.date | isoDate }}">{{ post.date | readableDate }}</time>
          <p>{{ post.templateContent | summary }}</p>
        </li>
      {% endfor %}
    </ul>
    <p>Meer columns vind je in <a href="{{ '/archief/' | url }}">het archief</a>.</p>
  </div>

  <div style="width:256px;">
    <div>
      <h2>Kent u deze al?</h2>
      {% set randomPost = collections.posts | getRandom %}
      <time datetime="{{ randomPost.date | isoDate }}" class="text-muted small">
        Gepubliceerd op {{ randomPost.date | readableDate }}
      </time>
      <a href="{{ randomPost.url }}">
        <h3>{{ randomPost.data.title }}</h3>
      </a>
      <p>{{ randomPost.templateContent | summary }}</p>
    </div>
  </div>
</div>
